[submodule "bin/modules/web-dom"]
	path = bin/modules/web-dom
	url = git://github.com/manakai/perl-web-dom
[submodule "bin/modules/web-markup"]
	path = bin/modules/web-markup
	url = git://github.com/manakai/perl-web-markup
[submodule "bin/modules/charclass"]
	path = bin/modules/charclass
	url = git://github.com/wakaba/perl-charclass
