[submodule "bin/modules/web-dom"]
	path = bin/modules/web-dom
	url = git://github.com/manakai/perl-web-dom
[submodule "bin/modules/web-markup"]
	path = bin/modules/web-markup
	url = git://github.com/manakai/perl-web-markup
[submodule "bin/modules/charclass"]
	path = bin/modules/charclass
	url = git://github.com/wakaba/perl-charclass
[submodule "bin/modules/web-css"]
	path = bin/modules/web-css
	url = git://github.com/manakai/perl-web-css
[submodule "bin/modules/json-functions-xs"]
	path = bin/modules/json-functions-xs
	url = git://github.com/wakaba/perl-json-functions-xs
[submodule "bin/modules/web-encodings"]
	path = bin/modules/web-encodings
	url = git://github.com/manakai/perl-web-encodings
